<div class="panel panel-default meuMenu">
  <div class="panel-heading">
    <span>User</span><span class="label label-primary" data-toggle="modal" data-target="#newUser">New</span>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <th>UserID</th>
        <th>Matrícula</th>
        <th>Name</th>
        <th>Date Birth</th>
        <th>Children</th>
        <th>Active</th>
        <th>Edit</th>
        <th>Disable</th>
      </thead>
      <tbody>
        {{#data}}
          <tr data-user-id={{UserID}} data-name="{{Name}}" data-date-birth={{DateBirth}} data-qtd-child={{QtdChild}} data-active={{Active}}>
            <td>{{UserID}}</td>
            <td>{{Matricula}}</td>
            <td>{{Name}}</td>
            <td>{{DateBirth}}</td>
            <td>{{QtdChild}}</td>
            <td>{{Active}}</td>
            <td class="text-center"><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#editUser" onclick="populateEdit(this);"></i></td>
            <td class="text-center"><a href="user/disable/{{UserID}}"><i class="fa fa-times" aria-hidden="true"></i></a<</td>
          </tr>
        {{/data}}
      </tbody>
    </table>

  </div>
</div>

<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New User</h4>
      </div>
      <form action="/user/save" method="post">
        <div class="modal-body">
            <div class="container">
              <div class="col-sm-12">
                <div class="row">
                  <input type="number" name="Matricula" class="form-control" placeholder=" Matricula:">
                </div>
                <div class="row" style="margin-top:10px;">
                  <input type="text" name="Name" class="form-control" placeholder=" Name:">
                </div>
                <div class="row" style="margin-top:10px;">
                  <input type="date" name="DateBirth" class="form-control" placeholder=" Date of birth:">
                </div>
                <div class="row" style="margin-top:10px;">
                  <input type="number" name="QtdChild" class="form-control" placeholder=" Number of children:">
                </div>

              </div>
            </div>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Create">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit User - ID: <span id="UserID"></span></h4>
      </div>
      <form action="/user/edit" method="post">
        <div class="modal-body">
            <div class="container">
              <div class="col-sm-12">
                  <input type="hidden" name="UserID" id="editUserID">
                <div class="row">
                  <input type="text" name="Name" id="editName" class="form-control" placeholder=" Name:">
                </div>
                <div class="row" style="margin-top:10px;">
                  <input type="date" name="DateBirth" id="editDateBirth" class="form-control" placeholder=" Date of birth:">
                </div>
                <div class="row" style="margin-top:10px;">
                  <input type="text" name="QtdChild" id="editQtdChild" class="form-control" placeholder=" Number of children:">
                </div>

              </div>
            </div>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Edit">
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">

  function populateEdit(el){
    debugger;
    $('#UserID').text( $(el).closest('tr').data('user-id') )

    $('#editUserID').val( $(el).closest('tr').data('user-id') )
    $('#editName').val( $(el).closest('tr').data('name') )
    $('#editDateBirth').val( convertDateBRToMysql($(el).closest('tr').data('date-birth')) )
    $('#editQtdChild').val( $(el).closest('tr').data('qtd-child') )
  }

  function convertDateBRToMysql(dataBR){
    return dataBR.split('/')[2] + '-' + dataBR.split('/')[1] + '-' + dataBR.split('/')[0];
  }

</script>
